<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
  <title>何時にtwitter? | twitterのつぶやきで生活リズムがわかる?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
  h1{ margin: 0; }
  th, td{ white-space: nowrap; }
  td:nth-of-type(1){ text-align: right; padding-right: 1em; }
  td:nth-of-type(2){ color: #5cb85c; }
  h2{ margin-bottom: 1.5em; font-size: 1em; }
  h2 span{ padding-right: 0.2em; font-size: 1.5em; font-weight: bold; color: #d9534f; }
  section{ margin-bottom: 3em; }
  footer{ text-align: center; }
  </style>
</head>
<body>
<header class="navbar navbar-default">
  <div class="container">
    <h1 class="navbar-brand">何時にtwitter?</h1>
  </div>
</header>
<main class="container">
  <section>
    <h2>@で始まるtwitter名を入力してね</h2>
    <div class="form-group navbar-form">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="screen_name" class="form-control" placeholder="akkagi0416">
      </div>
      <button type="submit" class="btn btn-success">Check</button>
    </div>
  </section>
  <section id="result">
    <%= @result %>
  </section>
</main>
<footer class="container">&copy; <a href="akkagi.info">akkagi</a></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<script>
$(function(){
  $('button').click(function(){
    var screen_name = $('#screen_name').val();
    var request = $.ajax({
      type: "POST",
      url: "/",
      //url: window.location.href + "/",
      data:{ screen_name: screen_name }
    });

    request.done(function(data){
      console.log('ajax success');
      //console.log(data);
      $('#result').html(data);
    }).fail(function(e){
      console.log('ajax error');
    });
  });
});
</script>
</body>
</html>
